<html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<head>
  <meta charset="utf-8">
  <title>Nomurish Patio Bot Console</title>
  <link rel="stylesheet" type = "text/css" href="css/layout.css">
</head>
<body >
  <div class = "wrapper">
    <div class = "header">
      <div class = "page_title_area">
        <span class = "page_title">Nomurish Patio Bot Edit Console</span>
      </div>
      <div class = "page_caption_area">
        <span class = "page_caption">このページはノムリッシュぱちおbotの管理ページです</span>
      </div>
    </div>
  <%= yield %>
  </div>
</body>
</html>

